body {
    color: #777;
    background: url('../Images/background7.jpg') repeat-x scroll center top;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    letter-spacing: -0.04em;
    border: 0;
    font-weight: normal;
    clear: both;
    color: #555;
}

p {
    line-height: 20px;
}

.content-Wrapper {
    padding: 1% 15%;
    display: block;
}

.mainmenu {
    list-style: none;
}

    .mainmenu li {
        float: left;
        padding: 0;
        position: relative;
        height: 100%;
        vertical-align: top;
        line-height: 0px;
    }

        .mainmenu li a {
            display: inline-block;
            font-size: 13px;
            display: block;
            position: relative;
            padding: 25px 18px 4px 20px;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            font-weight: bold;
            color: #F0F0F0;
            text-decoration: none;
        }

.mainlogo {
    background: url('../Images/logo3.png') repeat-x scroll center top;
    width: 260px;
    height: 57px;
    display: block;
    float: left;
    margin-right: 5%;
}

.promo-Wrapper {
    padding: 1% 15%;
    display: block;
}

    .promo-Wrapper .promo {
        display: inline-block;
        float: left;
        width: 31%;
        padding: 0 1%;
    }
