html {
     padding: 0px;
}

a {
    color: black;
}

.headerImage {
    background: url(../Images/YoungBrunette.png) no-repeat;
    position:absolute; 
    top:0; 
    left:0;
    margin: 0;
    padding: 0;
    width: 100%;
    }