<div class="wrapper">
    <ul class="slider">
        <li>
            <img src="../Content/Images/banner_1.png" width="600" height="257" alt=""></li>
        <li>
            <img src="../Content/Images/large-car.png" width="600" height="257" alt=""></li>
    </ul>

    <ul class="slider-Progress">
        <li class="">
        <li class="">
    </ul>
</div>
<div class="promo-Wrapper">
    <div class="promo">
        <h3>Carpets</h3>
        <p>
            <img src="~/Content/Images/carpet-promo.jpg">
        </p>
        <p>
            We have a huge range of products to choose from. Please click on the link below to find out more.
        </p>
    </div>
    <div class="promo">
        <h3>Laminate</h3>
        <p>
            <img src="~/Content/Images/carpet-promo.jpg">
        </p>
        <p>
            We have a huge range of products to choose from. Please click on the link below to find out more.
        </p>
    </div>
    <div class="promo">
        <h3>Vinyl</h3>
        <p>
            <img src="~/Content/Images/carpet-promo.jpg">
        </p>
        <p>
            We have a huge range of products to choose from. Please click on the link below to find out more.
        </p>

    </div>
</div>

