<div ng-controller="searchCtrl">
    @Html.Partial("../Shared/ManufacturerFilterComponent/ManufacturerFilterComponent")

    @Html.Partial("../Shared/SearchQueryComponent/SearchQuery")
    <div>
        @Html.Partial("../Shared/SearchComponent/SearchResults")
    </div>
</div>
